.profile-title{
    color: black;
    font-size: 3em;
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin-top: 20px; 
    width: 100%;
    color: black;
    
}

.profile-container {
    max-width: 800px;
    margin: auto;
    height: 140;
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
}

.profile-container form {
    margin-top: 2em;
}

.profile-container form input {
    padding: 10px;
    margin: 1em;
}

.profile-tagDropdown {
    margin-top:1em;
    color:black;
    width: 50%;
}