@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.home {
  width: 85%;
  margin: 10vw auto;
  height: fit-content;
  position: relative;
}

.home-message {
  font-family: "Staatliches", cursive;
  color: black;
  font-size: max(3em, 4.5vw);
}


.highlighted {
  font-family: "Staatliches", cursive;
  color: turquoise;
  text-decoration: underline;
}

.home-second {
  background: #232323;
  height: fit-content;
  text-align: center;
  display: flex;
  position: relative;
}

.home-second-container {
  width: 75%;
  margin: 5vw auto;
  color: white;
}

.home-second-container h1 {
  margin-top: 10.5vw;
  font-family: "Staatliches", cursive;
  font-size: 3em;
}

.project-type-list {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.project-type {
  --angle : 0deg;
  color: white;
  margin: 0 auto;
  padding: 10%;
  border: 1px solid;
  border-image-slice: 1;
  border-image: linear-gradient(var(--angle), #5073b8, #1098ad,turquoise, #07b39b, #6fba82) 1;
  animation: 1s gradientanimation linear infinite;
}

@keyframes gradientanimation {
  from {
    angle: 0deg;
  }
  to {
    angle: 360deg;
  }
}

.img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 3em auto;
}

.img-container img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.home-third {
  width: 75%;
  position: relative;
  height: fit-content;
  margin: 5% auto;
}

.home-third h1 {
  margin-top: 5%;
  font-family: "Staatliches", cursive;
  font-size: 3em;
}

.find-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 3em 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.find-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}

.find-button-container {
  margin-top: 2em;
  padding-bottom: 5em;
}

.home-post-container {
  border: 5px solid black;
  display: flex;
  margin-top: 5%;
}

.home-post-text {

  padding: 10px;
}

.home-post-image {

}

.home-post-text p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.post-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 3em 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

.post-button:hover {
  color:white;
  background-color:black;
}

@media only screen and (max-width: 1386px) {
  .home-post-image{
    display:none;
  }
  .home-post-text {
    width: 100%;
  }
}