.find-container {
    width: 80%;
    margin: 5vw auto;
}


.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.page-title {
    color: black;
    margin-right: 1em;
    font-size: 3em;
    font-family: 'Staatliches', cursive;
}

.search {
    flex-grow: 1;
}

.search input {
    width: 100%;
    font-size: 1em;
    border-radius: 5000px;
    border: 1px solid black;
    padding: 1% 1% 1% 2%;
}





 