.my-messages-container {
    background: white;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow-y:hidden;
}

.usernames-container {
    background: #232323;
    height: 103vh;
}

.usernames-container button {
    width: 100%;
    background-color: transparent;
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 5%;
    border-bottom: 2px solid white;
    cursor: pointer;
}


.private-message-container {
    height: 85vh;
    overflow-y: scroll;
}

.msg-wrapper h1 {
    /* text-decoration: underline; */
}

.msg-wrapper {
    padding-bottom: 1%;
}

.msg-wrapper form input {
    font-size: medium;
}

.click-on-username{
    color: black;
    font-size: 3em;
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin-top: 20px; 
    width: 100%;
}

.chat-box{
    width: 80%;
    padding: 10px;
    margin-top: 2em;
    border-radius: 5px;
}

.send-box{
    width:40%;
    margin-top: 2vh;
    margin-left:1vh;
    border-radius: 2px;
}

.send-button {
    margin-left: 1em;
    position: relative;
    background-color: turquoise;
    border: none;
    color: black;
    border-radius: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    font-size: 14px;
    transition: 0.3s;
    margin-top: 1em;
}

.send-button:hover {
    background-color: dodgerblue;
    color: black;
}