.my-projects-title{
    color: black;
    font-size: 3em;
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin-top: 20px; 
    width: 100%;
    color: black;
}

.dropdown-box{
    color: black;
    margin: 20px auto;
    display: flex;
    align-items: center;
    font-size: medium;
}