.project {
    display: flex;
    border: 3px solid black;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    border-radius: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
}

.projectButtons {
    display: flex;
    padding-right: 1em;
}

.delete-button {
    position: relative;
    background-color: red;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    font-size: 16px;
    transition: 0.3s;
    margin-left: 1em;
}

.delete-button:hover {
    background-color: darkred;
    color: black;
    cursor: pointer;
}

.edit-button {
    position: relative;
    background-color: turquoise;
    border: none;
    color: black;
    border-radius: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    font-size: 16px;
    transition: 0.3s;
}

.edit-button:hover {
    background-color: dodgerblue;
    color: black;
    cursor: pointer; 
}

.done-button {
    position: relative;
    background-color: limegreen;
    border: none;
    color: black;
    border-radius: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    font-size: 16px;
    margin-right:1em;
    transition: 0.3s;
}

.done-button:hover {
    background-color: darkgreen;
    color: white;
    cursor: pointer; 
}

.project-title{
    margin-left:1em;
}

@media only screen and (max-width: 600px) {
    .project {
        justify-content: start;
        align-content: start;
        min-width: 400px;
        display: block;
        height: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .projectButtons {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-left: 2em;
    }

    .edit-button {
        margin-top: 1em;
    }

    .delete-button {
        margin-left: 0em;
        margin-top: 1em;
    }
}

.position-box{
    padding: 2px;
    border: 3px solid black;
    margin-right:1em;
    font-size: 20px;
    border-radius: 3px;
    background-color: white;
    color:black;
}