@import url("https://fonts.googleapis.com/css2?family=Medula+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
  font-family: "Roboto";
}


.topbar {
  display: flex;
  align-items: center;
  padding: 1vw;
}

.navigation {
  margin-left: auto;
}

.navigation li {
  display: inline-block;
  color: black;
  padding: 10px;
  font-size: 1.1em;
}

.navigation li:hover {
  color: turquoise;
  text-decoration: underline;
  transition: 500ms;
}

.logo-first {
  color: black;
  font-family: "Medula One", cursive;
  font-size: 50px;
  cursor: pointer;
}

.logo-second {
  color: turquoise;
  font-family: "Medula One", cursive;
  font-size: 50px;
  cursor: pointer;
}

.logo-link {
  display: flex;
  text-decoration: none;
}

.logo-link:active {
  text-decoration: none;
}

.filters {
  margin-top: 3%;
  display: flex;
  align-items: center;
  color: black;
}

.multi-select {
  margin-left: 30%;
  width: 30%;
  color: black;
}

.multi-select-post {
  color: black;
  width: 30%;
}

.sort-by-date {
  margin-left: 2.5%;
  width: 20%;
  color: black;
}

.filter-label {
 margin-left: 3%;
}

.filter-name{
  margin-left: 5px;
}

.searchBox#css_custom_input::placeholder {
  color: black;
  opacity: 1;
}

#filterBtn {
  margin-top: 2%;
  display: none;
  margin-bottom: 2%;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .homePageFilterProjectGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #filterBtn {
    display: block;
  }
}

.projectTileGrid {
  margin-top: 5%;
  padding: 10px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  border: 2px solid 3f3f3f;
}

.postForm {
  padding: 15px;
  line-height: 2em;
  border: 2px solid 3f3f3f;
  color: black;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
  height: 15%;
  background-color: rgb(153, 153, 153);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.projectSummary {
  margin: 0 auto;
  width: 80%;
  
}

.normal-button {
  position: relative;
  background-color: turquoise;
  border: none;
  color: black;
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  vertical-align: middle;
  font-size: 16px;
}

.remove-button {
  position: relative;
  background-color: red;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: flex;
  vertical-align: middle;
  font-size: 16px;
}

  .tagDropdown {
    color:black;
    width: 30%;
  }