*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
    white-space: normal;
}

.homePageFilterProjectGrid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 4em;
  clear: both;
}

.filters {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1%;
  display: inline-block;
}

#filterBtn {
  margin-top: 2%;
  display: none;
  margin-bottom: 2%;
  clear: both;
}

#sortContainer {
  float: right;
  width: 20%;
}

@media only screen and (max-width: 768px) {
  .homePageFilterProjectGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #filterBtn {
    display: block;
  }

  #sortContainer {
    width: 100%;
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.projectTileGrid {
  padding: 10px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  border: 2px solid black;
  border-radius: 5px;
}

.postForm {
  margin-top: 40px;
  margin-left: 2.5%;
  margin-right:2.5%;
  margin-bottom: 2%;
  padding: 15px;
  border: 2px solid black;
}

.boarder {
  margin-top: 10px;
  margin-left: 1%;
  margin-right: 50%;
  margin-bottom: 1%;
  padding: 15px;
  border: 2px solid black;
}

.projectInfo {
  width: 90%;
  margin: 5%;

}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(51, 51, 51);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}