@import url("https://fonts.googleapis.com/css2?family=Medula+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
  font-family: "Roboto";
}

.searchBox#css_custom_input::placeholder {
  color: black;
  opacity: 1;
}

#filterBtn {
  margin-top: 2%;
  display: none;
  margin-bottom: 2%;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .homePageFilterProjectGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #filterBtn {
    display: block;
  }
}



